body {
    font-family: "Arial Black", sans-serif;
    font-weight: 900;
    color: black;
    background-color: white;
    margin: 0;
    height: 100vh;
}

::selection {
    background-color: rgb(255, 88, 88);
    color: white;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 45px;
}

.grid {
    margin: auto;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 0px;
    width: calc(100% - 30px);
    aspect-ratio: 1;
    padding: 0;
    max-height: 90vh;
}

.row {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    padding: 0;
}

.box {
    aspect-ratio: 1;
    max-width: calc((100% - 30px) / 3);
    border: 1vw solid black;
    font-size: 7vw;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
}

.X {
    color: darkred;
}

.O {
    color: darkgreen;
}


.info {
    width: calc(100% - 30px);
    justify-content: flex-start;
    align-items: flex-start;
}

h1 {
    font-size: 3.2vw;
    text-decoration: underline;
}

p {
    font-size: 20px;
}

label {
    font-size: 20px;
}

#ai-select {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 40px;
    appearance: none;
    width: 30px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: white;
    border: 2px solid gray;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 5px solid black;
}

#button-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background-color: rgb(255, 88, 88);
    margin: 1vw;
    padding: 1.3vw;
    border-radius: 12px;
    border: 0.5vw solid black;
    color: black;
    font-weight: 900;
    font-size: 2.5vw;
    width: max-content;
    box-shadow: 1px 1px 1px black;
}

button:hover {
    transform: translateY(-3px);
}

/* Remove border around edges */
#row-0-box-0 {
    border-left: none;
    border-top: none;
}

#row-0-box-1 {
    border-top: none;
}

#row-0-box-2 {
    border-right: none;
    border-top: none;
}

#row-1-box-0 {
    border-left: none;
}

#row-1-box-2 {
    border-right: none;
}

#row-2-box-0 {
    border-left: none;
    border-bottom: none;
}

#row-2-box-1 {
    border-bottom: none;
}

#row-2-box-2 {
    border-right: none;
    border-bottom: none;
}

@media (max-width: 850px) {
    p {
        font-size: 15px;
    }

    label {
        font-size: 15px;
    }
}


@media (max-width: 500px) {
    p {
        font-size: 10px;
    }

    label {
        font-size: 10px;
    }

    .box {
        flex-shrink: 0;
        border-width: 6px;
        font-size: 75px;
    }

    .container {
        flex-wrap: wrap;
    }

    .grid {
        width: 100%;
        margin: 10px;
    }

    .info {
        display: block;
        width: 100%;
    }

    #button-row {
        justify-content: flex-start;
    }

    button {
        margin: 1.3vw;
    }
}

@media (max-width: 300px) {

    .box {
        flex-shrink: 0;
        border-width: 4px;
        font-size: 60px;
    }

    .container {
        flex-wrap: wrap;
    }

    .grid {
        width: 100%;
        margin: 6px;
    }

    .info {
        display: block;
        width: 100%;
    }

    #button-row {
        justify-content: flex-start;
    }

    button {
        margin: 1.3vw;
    }
}